*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

*::selection{
    color:white;
    background-color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

#wrapper{
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    place-items: center;
}

#formWrapper{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 30%;
    min-height: max-content;
    padding: 40px 0;
    transform-style: preserve-3d;
    transition: all 0.6s ease-in;
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#loginContainer{
    background: white;
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    display: flex;
    backface-visibility: hidden !important;
    overflow: hidden;
    z-index: 2;
}

#loginContainer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#loginContainer form div{
    text-align: center;   
}

#loginContainer #logo p, .heading{
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
}

#loginContainer form input{
    height: 35px;
    width: 60%;
    padding-left: 15px;
    border: 1px solid #7373bf;
    border-radius: 10px;
}

#loginContainer form input:hover, #signupContainer form input:hover{
    border: 2px solid #7373bf !important;
}

#captchaDiv{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
#captchaDiv button{
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

form img{
    height: 60px;
    width: 160px;
    object-fit: cover;
    overflow: hidden;
    border-radius:5px;
}


#keepMeLoggedIn{
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
    width: 60%;
    height: 25px;
}

#keepMeLoggedInCheckbox{
    width: 10% !important;
    padding: 0px !important;
    height: 15px !important;
}

.loginButton{
    width: 60%;
}

#signupContainer{
    background: #fff;
    backface-visibility: hidden;
    position: absolute;
    z-index: -1;
    width: 140%;
    aspect-ratio: 1/1;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 12px 11px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

#signupForm{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#signupContainer form input{
    height: 35px;
    width: 48%;
    padding-left: 15px;
    border: 1px solid #7373bf;
    border-radius: 10px;
}

.label{
    place-items: start !important;
}

.detailsContainer{
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
    gap: 10px;  
}

#name inputs{
    width: 30% !important;
}

.signupButton, .googleSignup{
    width:48%;
}

@media only screen and (max-width: 600px) {
    #formWrapper{
        width: 85%;
        height: 70%;
    }

    #signupContainer{
        height: 80dvh;
        width: 100%;
    }
}
