{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/utils.css'%}" type="text/css">
    <title>Dashboard</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
                <div class="banner {{message.tags}}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    Dashboard.
    <p>Hello {{request.user.first_name}}</p>
    <a href='../logout/'>Logout</a> 
    <script src="{%static 'js/utils.js'%}"></script>
</body>
</html>